{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'myapp/css/Formularios/Formularios.css' %}">


<div class="centro">
    <div class="center" style="margin-bottom: 250px; margin-top: 250px;">
        <h1>Elija el metodo de pago</h1>
        <div style="padding: 20px;" id="paypal-button-container"></div>
    </div>
</div>

<script>

    var total = '{{entity.monto}}'

    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            })
        },

        onApprove: function (data, actions) {
            actions.order.capture().then(function (datails) {
                // Pago capturado exitosamente

                var multa_id = '{{entity.id}}'; // Reemplaza 123 con el ID de la multa correspondiente
                var url = '/CambiarEstado/' + multa_id ;

                window.location.href = url;
            });
        }
    }).render('#paypal-button-container');
</script>


{% endblock %}