{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'myapp/css/PagarGastoComun/PagarGastoComun.css' %}">

<div class="titulo">
    <h1>HISTORIAL DE GASTOS COMUNES</h1>
</div>
<div style=" display: flex; align-items: center; justify-content: center; margin-top: 50px;">

    <a style="color: #e9f4fb; outline: none; background-color: #1b3039; border-radius: 20px; padding: 10px 10px 10px; text-decoration: none; " 
    href="#">+ Gasto común
    </a>

</div>

<div class="tabla">
    <table class="Residentes">
        <thead class="thead">
            <tr style="color: #eceff1;">
                <th>Fecha</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for Gastos in Gastos %}
            <tr>
                <th>{{ Gastos.fecha }}</th>
                <th>${{ Gastos.monto }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}