{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'myapp/css/ListaResidentes/ListaResidentes.css' %}">

<div class="titulo">
    <h1>RESIDENTES</h1>
</div>
<div class="tabla">
    <table class="Residentes">
        <thead class="thead">
            <tr style="color: #eceff1;">
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><a href="VerResidenteAdmin.html"><button>Ver más</button></a></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>Brandon</th>
                <th>Leiva Soto</th>
                <th>holaktal@gmail.com</th>
                <th>9 8548 8456</th>
                <th><button>Ver más</button></th>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}