{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'myapp/css/ListaResidentes/ListaResidentes.css' %}">

<div class="titulo">
    <h1>RESIDENTES</h1>
</div>

{% if user.is_staff %}

<div style=" display: flex; align-items: center; justify-content: center; margin-top: 10px;">

    <a style="color: #e9f4fb; outline: none; background-color: #1b3039; border-radius: 20px; padding: 10px 10px 10px; text-decoration: none; "
        href="{% url 'CrearMulta' %}">Agregar Multa
    </a>

</div>
{% endif %}

<div class="tabla">
    <table class="Residentes">
        <thead class="thead">
            <tr style="color: #eceff1;">
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Información</th>
            </tr>
        </thead>
        <tbody>
            {% for users in users %}
            <tr>
                <th><img src="/PaginaWeb/img/Piscina.jpg" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></th>
                <th>{{ users.first_name }}</th>
                <th>{{ users.last_name }}</th>
                <th>{{ users.email }}</th>
                <th><a href="{% url 'VerPerfil' users.id %}"><button>Ver más</button></a></th>
            
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}