{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'myapp/css/PagarGastoComun/PagarGastoComun.css' %}">

<div class="titulo">
    <h1>
        {% if not user.is_staff %}
        MIS
        {% endif %}
         GASTOS COMUNES</h1>
</div>

<div style=" display: flex; align-items: center; justify-content: center; margin-top: 50px;">
    {% if user.is_staff %}
    <a style="color: #e9f4fb; outline: none; background-color: #1b3039; border-radius: 20px; padding: 10px 10px 10px; text-decoration: none; " 
    href="{% url 'CrearGastoComun' %}">+ Gasto común
    </a>
    {% endif %}
</div>

<div class="tabla">
    <table class="Residentes">
        <thead class="thead">
            <tr style="color: #eceff1;">
                <th>Fecha</th>
                <th>Monto</th>
                {% if not user.is_staff %}
                <th>Pagar</th>
                <th>Estado</th>
                {% endif %}
                {% if user.is_staff %}
                <th>Información</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entity %}
            <tr>
                <th>{{ entity.fecha }}</th>
                <th>${{ entity.monto }}</th>
                {% if not user.is_staff %}
                <th><a href="{% url 'PagarGasto' entity.id %}"><button>Pagar</button></a></th>
                <th>{{ entity.estado_pago }}</th>
                {% endif %}
            </tr>
            {% empty %}
            <h1>No tienes gastos comunes.</h1>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Elija el metodo de pago</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
</div>

<div>
    {% include 'myapp/Paginator.html' %}

</div>
{% endblock %}