{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'myapp/css/PagarGastoComun/PagarGastoComun.css' %}">

<div class="titulo">
    <h1>Residentes</h1>
</div>

<div class="tabla">
    <table class="Residentes">
        <thead class="thead">
            <tr style="color: #eceff1;">
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        <tbody>
            {% for residente in gasto.residentes.all %}
            <tr>
                <th>{{ residente.username }}</th>
                <th>{{ residente.last_name }}</th>
                <th>--/--/--</th>
                <th>{{ gasto.estado_pago }}</th>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>
</div>



{% endblock %}