{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}
{% load humanize %}

<div style="color: #1b3039;  display: flex; align-items: center; justify-content: center; margin-top: 40px;">
    <h1>Áreas Comunes</h1>
</div>

{% if user.is_staff %}

<div style=" display: flex; align-items: center; justify-content: start; margin-top: 50px; margin-left: 130px;">

    <a style="color: #e9f4fb; outline: none; background-color: #1b3039; border-radius: 20px; padding: 10px 10px 10px; text-decoration: none; "
        href="{% url 'CrearAreas' %}">+ Área común
    </a>

</div>
{% endif %}


<section class="container-fluid">
    <div class="row w-80 mx-auto catalogos-autos" id="color_btn_cat">
        {% for areas in entity %}
        <div class="col-lg-3 col-md-6 col-sm-12  my-5 d-flex justify-content-center icono2-wrap">
            <div class="card" style="width: 20rem;">
                {% if areas.imagen %}
                <img src="{{ areas.imagen.url }}" class="card-img-top" alt="test">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ areas.nombre }} / ${{ areas.monto }}</h5>
                    <p class="card-text">{{ areas.descripcion }}</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn" style="background-color:#d4cccc36">{{ areas.estado_reserva }}</a>
                        {% if not user.is_staff %}
                        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="background-color:#d4cccc36; margin-left: 110px;">Reservar</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<style>
    input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Elija la fecha de reservación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="date" id="myDateInput" min="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Pagar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Obtener la fecha actual
    var today = new Date().toISOString().split('T')[0];

    // Obtener el elemento del input de tipo date
    var dateInput = document.getElementById("myDateInput");

    // Establecer el atributo min del input al valor de la fecha actual
    dateInput.setAttribute("min", today);
</script>


<div>
    {% include 'myapp/Paginator.html' %}

</div>



{% endblock %}