{% extends 'myapp/base.html' %}
{% block contenido %}
{% load static %}
{% load humanize %}

<div style="color: #1b3039;  display: flex; align-items: center; justify-content: center; margin-top: 40px;">
    <h1>Áreas Comunes</h1>
</div>
<div style=" display: flex; align-items: center; justify-content: start; margin-top: 50px; margin-left: 130px;">

    <a style="color: #e9f4fb; outline: none; background-color: #1b3039; border-radius: 20px; padding: 10px 10px 10px; text-decoration: none; " 
    href="{% url 'CrearAreas' %}">+ Área común
    </a>

</div>


<section class="container-fluid">
    <div class="row w-80 mx-auto catalogos-autos" id="color_btn_cat">
        {% for areas in entity %}
        <div class="col-lg-3 col-md-6 col-sm-12  my-5 d-flex justify-content-center icono2-wrap">
            <div class="card" style="width: 20rem;">
                {% if areas.imagen %}
                <img src="{{ areas.imagen.url }}" class="card-img-top" alt="test">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ areas.nombre }}</h5>
                    <p class="card-text">{{ areas.descripcion }}</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn" style="background-color:#d4cccc36">{{ areas.estado_reserva }}</a>
                        <a href="#" class="btn" style="background-color:#d4cccc36; margin-left: 110px;">Editar</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
<div>
    {% include 'myapp/Paginator.html' %}

</div>



{% endblock %}